body {
    padding: 105px;
    background: rgb(219, 239, 245);
}
.child {
    background:#FFFFFF ;
    padding: 10px 150px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius:  20px 20px 0 0;

hr {
    width: 1708px ;
    position: relative;
    right: 150px;
    color: #858585;
    border: 1px solid #EAEAEA;
}    
}